.header {
  width: 100%;
  padding: 20px 40px;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #2c2c2c;
}
.h1 {
  font-size: 26px;
  font-weight: 1000;
}